* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
#app {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-size: 14px;
}
.split {
  height: 20px;
}
